* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #444444;
}

nav {
  height: 40px;
  text-align: center;
  background-color: #222222;
  margin: 0;
}
nav h1 {
  color: #aaaaaa;
  margin: 0;
  line-height: 40px;
}

.board {
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.board div {
  background-size: 76%;
  background-repeat: no-repeat;
  background-position: center;
}

.h7, .h5, .h3, .h1, .f7, .f5, .f3, .f1, .d7, .d5, .d3, .d1, .b7, .b5, .b3, .b1, .g8, .g6, .g4, .g2, .e8, .e6, .e4, .e2, .c8, .c6, .c4, .c2, .a8, .a6, .a4, .a2 {
  background-color: #EEEED2;
  width: 12.5%;
  height: 12.5%;
  margin: 0;
  display: grid;
  place-items: center;
  position: relative;
}

.h8, .h6, .h4, .h2, .f8, .f6, .f4, .f2, .d8, .d6, .d4, .d2, .b8, .b6, .b4, .b2, .g7, .g5, .g3, .g1, .e7, .e5, .e3, .e1, .c7, .c5, .c3, .c1, .a7, .a5, .a3, .a1 {
  background-color: #769656;
  width: 12.5%;
  height: 12.5%;
  margin: 0;
  display: grid;
  place-items: center;
  position: relative;
}

.a1::before {
  font-size: 14pt;
  content: "a";
  position: absolute;
  z-index: 1;
  top: 100%;
  color: #fff;
}

.b1::before {
  font-size: 14pt;
  content: "b";
  position: absolute;
  z-index: 1;
  top: 100%;
  color: #fff;
}

.c1::before {
  font-size: 14pt;
  content: "c";
  position: absolute;
  z-index: 1;
  top: 100%;
  color: #fff;
}

.d1::before {
  font-size: 14pt;
  content: "d";
  position: absolute;
  z-index: 1;
  top: 100%;
  color: #fff;
}

.e1::before {
  font-size: 14pt;
  content: "e";
  position: absolute;
  z-index: 1;
  top: 100%;
  color: #fff;
}

.f1::before {
  font-size: 14pt;
  content: "f";
  position: absolute;
  z-index: 1;
  top: 100%;
  color: #fff;
}

.g1::before {
  font-size: 14pt;
  content: "g";
  position: absolute;
  z-index: 1;
  top: 100%;
  color: #fff;
}

.h1::before {
  font-size: 14pt;
  content: "h";
  position: absolute;
  z-index: 1;
  top: 100%;
  color: #fff;
}

.a1::after {
  font-size: 14pt;
  content: "1";
  position: absolute;
  z-index: 1;
  right: 110%;
  color: #fff;
}

.a2::after {
  font-size: 14pt;
  content: "2";
  position: absolute;
  z-index: 1;
  right: 110%;
  color: #fff;
}

.a3::after {
  font-size: 14pt;
  content: "3";
  position: absolute;
  z-index: 1;
  right: 110%;
  color: #fff;
}

.a4::after {
  font-size: 14pt;
  content: "4";
  position: absolute;
  z-index: 1;
  right: 110%;
  color: #fff;
}

.a5::after {
  font-size: 14pt;
  content: "5";
  position: absolute;
  z-index: 1;
  right: 110%;
  color: #fff;
}

.a6::after {
  font-size: 14pt;
  content: "6";
  position: absolute;
  z-index: 1;
  right: 110%;
  color: #fff;
}

.a7::after {
  font-size: 14pt;
  content: "7";
  position: absolute;
  z-index: 1;
  right: 110%;
  color: #fff;
}

.a8::after {
  font-size: 14pt;
  content: "8";
  position: absolute;
  z-index: 1;
  right: 110%;
  color: #fff;
}

.dot {
  position: absolute;
  z-index: 2;
  width: 45%;
  height: 45%;
  background-color: #000;
  border-radius: 50%;
  opacity: 80%;
}

@media (max-width: 768px) {
  .board {
    width: 350px;
    height: 350px;
  }
}
img::-moz-selection {
  background: none;
}
img::selection {
  background: none;
}

.win {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 5;
  text-align: center;
  background-color: #121;
  color: #fff;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
}
.win button {
  width: 80px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.upgrade-white, .upgrade-black {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 5;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  background-color: #123;
  text-align: center;
  border-radius: 10px;
}
.upgrade-white img, .upgrade-black img {
  width: 20%;
  height: auto;
  padding: 5px;
}/*# sourceMappingURL=main.css.map */